@model DailyMenuVM 
@{
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <!-- İlk Kart -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">This is the content of the first card.</p>
                </div>
            </div>
            <!-- İkinci Kart -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">This is the content of the second card.</p>
                </div>
            </div>
            <!-- Üçüncü Kart -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">This is the content of the third card.</p>
                </div>
            </div>
        </div>
    </div>
</div>