@model LoginVM
@{
	Layout = null;
	<div class="alert alert-info" id="alertMessage">
		@TempData["Message"]
	</div>
}
<link href="~/css/Login.css"  type="text/css" rel="stylesheet" />
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<form asp-action="Log" asp-controller="Login" method="post">
			<div class="login-form">

				<div class="sign-in-htm">
					<div class="group">
						<label asp-for="NickName" class="label">Kullanıcı İsmi</label>
						<input id="user" type="text" class="input" asp-for="NickName">
					</div>
					<div class="group">
						<label asp-for="Password" class="label">Şifre</label>
						<input id="pass" type="password" class="input" data-type="password" asp-for="Password">
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Beni Hatırla</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Giriş Yap">
					</div>
					<div class="hr"></div>
					@* 	<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
					</div> *@
				</div>

		</form>
		<form asp-action="" asp-controller="Login" method="post">

			<div class="sign-up-htm">
				<div class="group">
					<label asp-for="NickName" class="label">Kullanıcı Adı</label>
					<input id="user" type="text" class="input" asp-for="NickName">
				</div>
				<div class="group">
					<label asp-for="Name" class="label">Ad</label>
					<input id="user" type="text" class="input" asp-for="Name">
				</div>
				<div class="group">
					<label asp-for="LastName" class="label">Soyad</label>
					<input id="user" type="text" class="input" asp-for="LastName">
				</div>
				<div class="group">
					<label asp-for="Password" class="label">Şifre</label>
					<input id="pass" type="password" class="input" data-type="password" asp-for="Password">
				</div>
				<div class="group">
					<label asp-for="PasswordConfirm" class="label">Tekrar Şifre</label>
					<input id="pass" type="password" class="input" data-type="password" asp-for="PasswordConfirm">
				</div>
				<div class="group">
					<label asp-for="Mail" class="label">Email Addresi</label>
					<input id="pass" type="text" class="input" asp-for="Mail">
				</div>
				<input type="hidden" asp-for="Role" value="User"/>
				<div class="group">
					<input type="submit" class="button" value="Kayıt Ol" />
				</div>
			</div>

		</form>
		
		</div>
	</div>
</div>


<script>
	// Sayfa yüklendiğinde çalıştır
	$(document).ready(function () {
		// Alert mesajını 5 saniye sonra gizle
		setTimeout(function () {
			$('#alertMessage').fadeOut('slow');
		}, 3000); // 5000 milisaniye = 5 saniye
	});
</script>