
.carousel-inner img {
    width: 100%;
    height: 200px; /* İstediğiniz sabit yüksekliği belirleyin */
    object-fit: cover; /* Resimlerin taşmamasını sağlar ve kırpma yapar */
}

.card {
    margin-bottom: 1rem; /* Kartlar arasındaki boşlukları azaltır */
}

.container-fluid {
    margin-top: 4%;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Kartların satır bazında sarılmasını sağlar */
    justify-content: center; /* İçeriği yatayda ortalar */
}

.col-sm-4 {
    display: flex;
    justify-content: center; /* Kartları ortalar */
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.card-body {
    margin-bottom: 10px; /* Kartlar arasındaki boşluğu azaltır */
    padding: 0;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid #ddd; /* Başlık ve içeriği ayıran ince bir çizgi */
    margin-bottom: -5px;
}

.card-text p {
    text-align: justify;
    margin: 0; /* Üst ve alt marginleri sıfırlar */
    padding: 0; /* İç paddingi sıfırlar */
}

.background {
    background-image: url('img/food-cooking-background-on-white-table-2JDWXK5.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
